<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict>
	</dict>
	<key>Build Version</key>
	<string>20H343</string>
	<key>Device Name</key>
	<string>iPhone</string>
	<key>Display Name</key>
	<string>iPhone</string>
	<key>GUID</key>
	<string>219932A232E74B91B5AB5AA76A18B7A4</string>
	<key>IMEI</key>
	<string>354895097676790</string>
	<key>Installed Applications</key>
	<array>
	</array>
	<key>Last Backup Date</key>
	<date>2019-04-29T02:20:36Z</date>
	<key>MEID</key>
	<string>35580308422689</string>
	<key>Product Type</key>
	<string>iPhone10,1</string>
	<key>Product Version</key>
	<string>16.7.8</string>
	<key>Serial Number</key>
	<string>C8QY79WFJC6C</string>
	<key>Target Identifier</key>
	<string>CDF840120B0D699665742F59258D9299D169FEFE</string>
	<key>Target Type</key>
	<string>Device</string>
	<key>Unique Identifier</key>
	<string>CDF840120B0D699665742F59258D9299D169FEFE</string>
	<key>iTunes Files</key>
	<dict>
		<key>IC-Info.sidv</key>
		<data>
		AAEAASJmr2utHeI7LaEnaxA/lpEzW+5LdbqZTqzJ9JIM7P+OkWrI/5vQsGY3
		1p6bnLokWHWXfTZzMCJmZoLb2Ni82tTsvI17T9Dc9WqBDOFLQBTthuVe7GSn
		17pOlQr9bXGH00Ax+wNKK+lo4Oq2cbdYaVt/lFeIWCyP7zFLuyaMdN1ul/2/
		HaANz4AfX3hhYeFXURpwaRIYCXzGXNoG/BMrKpK5DUODCTCAh1pyNxgQQPrX
		0UmzKxoB8qKxE8WDDXzI4a+FqFyjrI+K/LsKq3kelMgT0enMAvGDaBnGlCx+
		RABTflfkFLbWtmdnrFVmXIMSSBW1zgi3zx+Mb3szyUVKkc0HExYh+h9pjx6H
		ztt6SZvvD01+YHoRcR3X53kPIrjLmRQui/CdP2XfqVALHBt2ug0eWNRw7/f1
		TICf2gSWj8VJCBwcFtLa08egTjwAouo99cFe2INU/PlaaleF7d8lXMVtcp0k
		A4bYbkvg9+oUR0+m++rzJ3t9MXlIl+79diSLEebzWGsRvRxcvzc675jd9GVF
		Apj8gPVGn56z6/ueT72ZnoRuBTOqjHcb9wTXy/i5ygak4a1NcsgTkdO7NC9R
		CdcNDHJZW8FiOPise9OMMjxlquYRPfMb7GRYx5tjdCXp+4c3UdPFVG2CBplf
		8mg9TfEkZShMgAwnqO8/jdVA8XVths6PfTfRrz2tzyJGN0OEt4Zqfassq6gU
		s98JbU8GGUUEB1PG/enxveEgOBV487DPwZPmCd7yvLwrdN5dK/5fYp08XTCv
		ssqCUzFrdg5S1jD96TsWhVmg5y18g1g54eGE7tJ4KyUuzsYwkT3pY587RNms
		dhBwIxRMziTRYO6lOW32S0A00PnNKi9+xPY068y3xhlfmidyO/vP0lnAF71G
		cg1+w+QLVm9iyV4li+o7Z9W4wTbGsMO66+uAvuf68Iv0F0WDO+hMfasADv5c
		Yfzbz70hnJfuM5wV4YwtI/wNmjchSWIaaFZUjhOtDx9aZ+TCLj1c2dsorToA
		PZ53QD99v/hoCt7M2ayk7bQk/b/gGqNd6DtFHYs3QFvgpSDRp26PyKrIAhqi
		LKNIkRt5PrbnkPuXot9UV+LivXD8jrEr41Zhcn9FbnQYM4Me78iNu2qMHBqf
		QpGfLRv6iJFalMOsorDFzFYtKs5XomtjIs8Rycr+Sw4AtSxDGJkcbq2z8fRg
		S5BKcbosbFSbI/SbiolQWbMctZt9IN94mFBVmwe43ZeqE546FeaxdP16uSMh
		+wcVliQFbThZ7IKIX4RLiqCnog3apG8UX6k8A4jZlwHSIfjgA52M97a3d++e
		dlnsSX7Ir0JArPJwZ8VHnj9D8LS2bSANda5Y+R8BLeXgG6P3VRglRyNgMFHh
		qQ8HiKdTQ//TdOAwCvy7LeZYCbsSsD/YwVGWENaLiAWPTYtqmHS4xBIsSEzV
		E/ts7RSyfL2ZthwqTozHMsP9O4DPrN73Xx154PRazWRXLzdk5cWTRfbIEFvc
		hhNvAlu7CxIX0C6i+7d/
		</data>
	</dict>
	<key>iTunes Settings</key>
	<dict>
	</dict>
	<key>iTunes Version</key>
	<string>11.2.0</string>
</dict>
</plist>